@tailwind base;
@tailwind components;
@tailwind utilities;

summary.accordeon {
    display: flex;
    align-items: center;
}

summary.accordeon::before {
    width: 9px;
    height: 13px;
    content: '';
    background: url('images/arrow.svg') no-repeat;
    /* margin-right: 13px; */
}

details[open] > summary.accordeon::before {
    transform: rotate(90deg);
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid #607B96;
    border-radius: 0.15em;
    margin-top: 1px;
  }
  
  input[type="checkbox"]:checked {
    background-color: #607B96;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none"><path d="M5.38587 7.2802L11.9718 0.693573L12.9856 1.70668L5.38587 9.30641L0.826172 4.74671L1.83928 3.73361L5.38587 7.2802Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input[type="checkbox"]:checked:hover {
    box-shadow: #607b968b 0px 0px 0px 2px;
  }
  
  input[type="checkbox"]:not(:checked) {
    border-color: #607b968b;
  }
  
  input[type="checkbox"]:hover {
    cursor: pointer;
    background-color: #607b968b;
    background-image: url("data:image/svg+xml;utf8,<svg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.38587 7.2802L11.9718 0.693573L12.9856 1.70668L5.38587 9.30641L0.826172 4.74671L1.83928 3.73361L5.38587 7.2802Z' fill='white'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: #607b968b 0px 0px 0px 2px;
  }
  
  input[type="checkbox"]:hover:not(:checked) {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: none;
    box-shadow: #607b968b 0px 0px 0px 2px;
  }
  