@tailwind base;
@tailwind components;
@tailwind utilities;

summary.accordeon {
    display: flex;
    align-items: center;
}

summary.accordeon::before {
    width: 9px;
    height: 13px;
    content: '';
    background: url('images/arrow.svg') no-repeat;
    /* margin-right: 13px; */
}

details[open] > summary.accordeon::before {
    transform: rotate(90deg);
  }
